# Basics
- operator
    - arithmetic
    - assignment
    - comparison
    - logical
    - identity
    - membership
    - bitwise
- variables 
- datatypes
- keywords
- io

In [4]:
100 + 100

200

In [5]:
21390 * 20

427800

In [6]:
10/3

3.3333333333333335

In [7]:
10//3

3

In [8]:
10**3

1000

In [9]:
157**5

95388992557

In [5]:
x = 101
y = 2.3910
z = False
a = None

assignment operator = += -= *= //= /= %= **=

In [9]:
x = 5
x += 10
x -= 2
x *= 3
name = "Anshikaüëç"

In [10]:
a = 12
b = 13
c = a + b

conditional operator
<
<=
>
>=
==
!=

In [11]:
a > 10

True

In [12]:
a < a-5

False

In [13]:
a = 10
b = 3

In [15]:
a > b

True

In [16]:
a < b

False

In [17]:
a < b > 10

False

logical operator 
and
or
not

In [5]:
a = 10
b = 20
a < b and b < 30
a > b or b > 20

False

In [6]:
print(a < b and b < 30)
print(a > b or b > 20)

True
False

In [25]:
fruits = ['apple','banana','cherry']
print('apple' in fruits)
print('orange' in fruits)
print('banana' not in fruits)
print('orange' not in fruits)

True
False
False
True

In [3]:
x = 20
y = x
print(x,y)
print(x == y) #value equality
print(x is y) #reference equality
name ="Anshika"
name2 ="Anshika"
print(name == name2)
print(name is name2)

20 20
True
True
True
True

In [2]:
x= [1,2,3]
y = x # reference copy
z = x.copy() # value copy
print(x is y)
print(x is not z)
print(x == z)
print(x == y)

True
True
True
True

Datatypes (9)
- integer 'int'
- float 'float'
- boolean 'bool'
- none 'Nonetype'
- list 'list'
- string 'str'
- tuple 'tuple'
- set 'set'
- dicionary 'dict'

In [1]:
coords = (10,20,32)
names = {'Alex',"Alan","Alice","Arti"}
info = {'name': 'anshika', 'age': 20,'city': 'lucknow'}

In [7]:
del x # delete x from the memory