In [3]:
input("Enter your name")

'Anshika'

example ans= input("prompt")

In [4]:
name = input("Enter your name")
city = input("Enter your city")
color = input("Enter your favorite color")
fruit = input("Enter your favorite fruit")
luckynum = input("Enter your lucky number")

In [5]:
a = input("Enter a number")
b = input("Enter a number")
print(a+b)

10

typecasting

    from one daataype => another
    str => int (variable) => int

In [7]:
float ("12.20")

12.2

In [8]:
a = 10
b = "10"
c = "10.20"
d = 10.20
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>

In [9]:
print(float(a))
print(str(a))
print(bool(a))

10.0
10
True

In [11]:
a = input("Enter a number")
b = input("Enter a number")
c = int(a) + int(b)
print(c)

26

In [12]:
a = int(input("Enter a number"))
b = int(input("Enter a number"))
c = a + b
print(c)

26

In [14]:
p = int(input("Enter the principle amount"))
r = float(input("Enter the rate of interest"))
t = int(input("Enter the time period"))
si = p*r*t/100
print(si)

312.0

answer: 12 - 3 = 9

In [15]:
a = 12
b =3
c = a-b
print("answer :",a, "-",b, "=",c )

answer : 12 - 3 = 9

In [22]:
p = int(input("Enter the principle amount"))
r = float(input("Enter the rate of interest"))
t = int(input("Enter the time period"))
si = p*r*t/100
print(si)
print("Simple interest calculator")
print("Principle  =","Rs",p)
print("Rate = ",r,"%")
print("Time =",t)
print("_"* 25)
print("Simple interest=",si)

3480.0
Simple interest calculator
Principle  = Rs 12000
Rate =  2.9 %
Time = 10
_________________________
Simple interest= 3480.0

In [23]:
print(a,b,c,d,sep=",")

12,3,9,10.2

In [26]:
print(*"hello", sep="-")
fruits = ["apple","banana","cherry"]
print(*"fruits", sep="-")

h-e-l-l-o
f-r-u-i-t-s

In [28]:
a = 12
b = 3
c = a-b
print("answer :",a,"-",b,"=",c) 
print(f"answer :{a}-{b}={c}")

answer : 12 - 3 = 9
answer :12-3=9

In [29]:
# Area of triangle
b = int(input("Enter the base of the triangle"))
h = int(input("Enter the height of the triangle"))
area = 1/2*b*h
print("Area of Triangle")
print(f"Base = {b} cm")
print(f"Height = {h} cm")
print("_"*15)
print(f"Area ={area} cm")

Area of Triangle
Base = 12 cm
Height = 10 cm
_______________
Area =60.0 cm

In [12]:
# roundoff calculation 
print(round(10/3))
print(round(10/3,1))
print(round(10/3,2))
print(round(10/3,3))

3
3.3
3.33
3.333

In [11]:
# displaying roundoff
a=10
b=7
c=a/b
print(f"{a} divided by {b} is {a/b}")
print(f"{a} divided by {b} is {a/b:.1f}")
print(f"{a} divided by {b} is {c:.2f}")
print(f"{a} divided by {b} is {a/b:.3f}")

10 divided by 7 is 1.4285714285714286
10 divided by 7 is 1.4
10 divided by 7 is 1.43
10 divided by 7 is 1.429

In [10]:
# text alignment
n1 = "The final empire"
a1 = "Bradon Sanderson"
p1 = "499"
n2 = "The art of war"
a2 = "Sun Tzu"
p2 = 239
n3 = "Stormlight Archives: The way of kings"
a3 = "Bradon Sanderson"
p3 = "550"
print(f"{n1:>40} | {a1:^20} | {p1}") # ">" is used for right alignment and "^" is used for centre alignment
print(f"{n2:>40} | {a2:^20} | {p2}")
print(f"{n3:>40} | {a3:^20} | {p3}")

                        The final empire |   Bradon Sanderson   | 499
                          The art of war |       Sun Tzu        | 239
   Stormlight Archives: The way of kings |   Bradon Sanderson   | 550